<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card animated bounceInUp">
                <h5 class="card-header">
                    The Value of Money
                </h5>
                <div class="card-body text-center">
                    <i class="fas fa-hand-holding-usd p-4 animated pulse infinite"></i>
                    <p class="card-text text-left">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non mollis sem. Aliquam feugiat
                        leo
                        vitae ligula pretium, vel aliquam dolor fringilla. Nullam ultrices urna feugiat nulla sagittis
                        varius. Nam eu ipsum ante. Vivamus hendrerit, turpis at tristique congue, nisi ante porta risus,
                        ut
                        dapibus tortor diam vitae magna. Cras at erat lectus. Morbi a diam eros.
                    </p>
                </div>
                <div class="card-footer">
                    <a href="#">Read More...</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card animated bounceInUp delay-1s">
                <h5 class="card-header">
                    GMO food
                </h5>
                <div class="card-body text-center">
                    <i class="fas fa-pizza-slice p-4 animated pulse infinite"></i>
                    <p class="card-text text-left">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non mollis sem. Aliquam feugiat
                        leo
                        vitae ligula pretium, vel aliquam dolor fringilla. Nullam ultrices urna feugiat nulla sagittis
                        varius. Nam eu ipsum ante. Vivamus hendrerit, turpis at tristique congue, nisi ante porta risus,
                        ut
                        dapibus tortor diam vitae magna. Cras at erat lectus. Morbi a diam eros.
                    </p>
                </div>
                <div class="card-footer">
                    <a href="#">Read More...</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card animated bounceInUp delay-2s">
                <h5 class="card-header">
                    The View of World in 2100
                </h5>
                <div class="card-body text-center">
                    <i class="fas fa-binoculars p-4 animated pulse infinite"></i>
                    <p class="card-text text-left">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non mollis sem. Aliquam feugiat
                        leo
                        vitae ligula pretium, vel aliquam dolor fringilla. Nullam ultrices urna feugiat nulla sagittis
                        varius. Nam eu ipsum ante. Vivamus hendrerit, turpis at tristique congue, nisi ante porta risus,
                        ut
                        dapibus tortor diam vitae magna. Cras at erat lectus. Morbi a diam eros.
                    </p>
                </div>
                <div class="card-footer ">
                    <a href="#">Read More...</a>
                </div>
            </div>
        </div>
    </div>
</div>