<div class="container-fluid p-5  animated bounceInUp">
    <div class="row">
        <div class="col-md-12 h1 main-text text-center">
            MY PHOTOGRAPHY
        </div>
    </div>
    <div class="row">
        <div class="container-fluid text-center">
            <div class="row">
                <div class="col-md-6  animated flipInX p-4">
                    <div class="row">
                        <div class="col-md-12">
                            <img class="img-fluid" src="./img/portfolio/1.JPG">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            Project #1
                        </div>
                    </div>
                </div>
                <div class="col-md-6  animated flipInX delay-1s p-4">
                    <div class="row">
                        <div class="col-md-12">
                            <img class="img-fluid" src="./img/portfolio/2.JPG">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            Project #2
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 animated flipInX delay-2s p-4">
                    <div class="row">
                        <div class="col-md-12">
                            <img class="img-fluid" src="./img/portfolio/3.JPG">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            Project #3
                        </div>
                    </div>
                </div>
                <div class="col-md-6 animated flipInX delay-3s p-4">
                    <div class="row">
                        <div class="col-md-12">
                            <img class="img-fluid" src="./img/portfolio/4.JPG">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            Project #4
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>